<div class="sc-frontend-page">
    <main class="sc-frontend-main">
        <div class="sc-frontend-card">
            <h2 class="sc-frontend-card-title">{{#str}}addrecord, local_skillconnect{{/str}}</h2>
            <p class="sc-frontend-card-sub">{{#str}}addrecordsub, local_skillconnect{{/str}} CLC</p>

            {{{formhtml}}}
        </div>
    </main>
</div>
